.hero {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2rem;
}

.hero_container {
  width: 50%;
  height: auto;
  padding: 2rem;
  border-radius: 2rem;
}


.hero_container__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero_title {
  font-family: 'Aboreto', cursive;
  color: white;
  font-weight: 900;
}

.hero_overview {
  color: white;
  font-weight: 400;
  max-height: 100px;
  overflow: scroll;
}

::-webkit-scrollbar {display: none;}

.hero_container_buttons {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-around;
}

.btn_hero {
  font-size: 20px;
  align-self: flex-start;
  width: 10rem;
  height: 3rem;
  margin-right: 2rem;
}